/**
-------------------------------------------------------------------------------
css have 3 main elements
selector{
	property:value;
}

1-you can select a whole tag like using element selector:
h2{
	
	
}
here all h2 tags will have the style priovided

2-also you can select a class , class is identified in html <tagname class="name"></tagname>
, it is used in c++ so all elements of class: name will be selected

.name{
	
	
}
here all elements of class name are selected

3- you can select using id , id is a unique defined id for one tag

#id{
	
}
 note id overrides class & class overrides element ;
 
4- inline selector is written in html , it overrides all mentioned selectors before & it is hardly used.
-----------------------------------------------------------------------------------
the multiple & combined selectrors

1- we can select like 
h1,h2,h3{
	
}
here we selected the three elements all at once

2- 
div p{
	
}
the space here make the selected elements are the <p> tag inside the <div> tag

but it if it is like
div > p{
	
}
the tag<p> must be a direct child to tag<div>

3- 
div+p{
	
}
here we select <p> that comes after <div>

4- [width]
{
	
}
here we select all tags with attribute width
--------------------------------------------------------------------------------
pseudo element selectors:
div::front{
	
}
here we select elements after the div , it really doesn't exist but it will be just after the div so we can add content:""  to se it
::first-child{
	
}
means the first child
::nth-child(n){
	
}
select the nth child

there is a pseudo classes like:
::hover{
	
}
means when you touch or pass over the content of the tag
--------------------------------------------------------------------------------
Layout for webpage:

1-Block, for sections in a webpage
2-Inline, for text
3-Table, for two-dimensional table data
4-Positioned, for explicit position of an element
--------------------------------------------------------------------------------
short hand properties:
are properties where you can write more than a property like:
border: size stylr color;
padding: top right bottom left
and so all......
--------------------------------------------------------------------------------
Some attributes for box model:
background-color:
width:
height:
border-style:
border-width:
border-color:
border-radius: "radius of border corners" or "radius of x / radius of y"
padding:
margin:

min-width: this defines the minimum width 
max-width: this defines the maximum width
same exists for height!

To hide an element:
you can use visibilty:hidden;
or 
display:none;

display: " property "
the properties for display are:
1-block 
2-inline   "it is wrong to put width and height here as collapse occur"
3-inline block 
4-none "it hide the element and erase the space it took too"
5-flex
--------------------------------------------------------------------------------
there are some properties to make image as a border , you can find them online.
there are also some properties for box-shadow:inset offset-x offset-y blur spread-radius color.
--------------------------------------------------------------------------------
coloring systems
1-#rrggbb
2-rgb(r%,g%,b%)
3-rgba(r%,g%,b%,transparency)
4-hcl(hue%,sat%,lightness%)
5-hcla(h%,s%,l%,transparency)
--------------------------------------------------------------------------------
 media quries & responsive design
 @media condition{
	
 }
 -------------------------------------------------------------------------------
**/
*{ /** this is a universal selector , used to put default values**/
	font-size:24px;
}
body{
	/** padding **/
	/** it is the inner spaces in the page**/
	/** top  right  bottom  left , non set value takes it's value from opposite one & if just one is wtritten all takes it**/
	padding: 10px 20px;
	/** margins **/
	/** it's usage is like padding **/
	/** it is the space left on the sides of the box so it can be negative**/
	margin: 5px;
}
font{
	color:white;
	font-size:16px;
	font-style:ariel;
}
.Links{
	color:red;
	font-size:18px;
	font-style:ariel;
}
.Heads{
	color:white;
	font-size:32px;
	font-style:ariel;
}
#win{ 
	color:green; /** green is just to identify that id overrides class **/
	font-size:32px;
	font-style:ariel;
}
